<div class="container mt-4">
  <div class="row">
    <div *ngFor="let city of cities" class="col-4">
      <div class="card mb-4">
        <h3 class="card-header">Şehir - {{city.id}}</h3>

        <div class="card-body">
          <h5 class="card-title">{{city.name}}</h5>
          <p class="card-text">{{city.description}}</p>
        </div>
        <img style="height: 180px; width: 100%; display: block;" alt="Card image" src="{{city.photoUrl}}">
        <a routerLink="/cityDetail/{{city.id}}" class="btn btn-outline-success">Görüntüle</a>
      </div>
    </div>
  </div>
</div>
