<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <h3 class="card-header">Şehir - {{city.id}}</h3>
        <div class="card-body">
          <h5 class="card-title">{{city.name}}</h5>
        </div>
        <img style="height: 400px; width: 100%; display: block;" alt="Card image" src="{{city.photoUrl}}">
        <div class="card-body">
          <p class="card-text">{{city.description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
